*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries/sdong13.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.idea/.name
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/release/app-release.apk
app/release/output.json
app/release/app-release.aab